.truncate-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  /* width: 250px; */
  height: 80px;
  overflow: hidden;
}

.truncate-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* width: 250px; */
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}